<div class="container-fluid">

    <div class="user">

        <div>
             <h4>Hi, i'am</h4>
             <h3>Manche Thirumalesh</h3>
             <div class="dev"><p>FULL STACK DEVELOPER</p></div>
        </div>

       
        <div class="user-img">
            <img  src="../assets/images/Office_Staff-512.webp" alt="">
        </div>
    </div>

    <div class="preview-shadow" >
        <div class="preview">
            <div id="tl" class="corner"></div>
            <div id="tr" class="corner"></div>

            <h3>what I do</h3>
            <p>I was a lead developer in a past life, now i enjoy doing own projects.</p>
            <div id="bl" class="corner"></div>
            <div id="br" class="corner"></div>

        </div>
    </div>

    <div class="" style="display: flex;margin-left: 45px;margin-top: 30px; " >

    <div class="top-ex">
        <p>Fullstack Developer with primary focus on Angular + Django <a  href="../assets/Thirumalesh.Resume.pdf"  download="Resume.pdf" >Download Resume</a>  </p>
    </div>

    <div class="skills-bar">
        <div class="skills">
            <div>
                <p>Html</p>
                <p>Css</p>
                <p>JavaScript</p>
              
            </div>
            <div>
                <p>Angular</p>
                <p>Python</p>
                <p>Django</p>
              
            </div>
            <div>
              
                <p>MySql</p>
                <p>github</p>
                <p></p>
            </div>
        </div>
    </div>
</div>

</div>
