
<div class="container">
    <div class="project">
       <p>some of my past projects</p>
    </div>
</div>




<div class="work " style="overflow: scroll;height:fit-content;">
    <div class="post-area">
        <div class="card" *ngFor="let r of mywork" >
            <img class="card-img-top" src="{{r.cardimg}}" alt="Card image cap">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{r.card_title}}</h5>
              <p class="card-text mb-auto">{{r.card_text}}</p>
              <a href="#" class="mt-2">More Details</a>
            </div>
        </div>
    </div>
</div>


<div class="follow">
    <h6>Follow</h6>
    <div class="fti d-flex">
      <div class="img " >
          <img  src="../assets/images/Facebook.svg" alt="" srcset="">
      </div>
      <div class="img "> 
          <img src="../assets/images/Instagram.svg" alt="">
      </div>
      <div class="img">
          <img  src="../assets/images/Twitter.svg" alt="">
      </div>
    </div>
</div>


