<div class="container">
    <div class="project">
       <p>some of my past projects</p>
    </div>
</div>

<div class="work " style="overflow: scroll;height:fit-content;">
    <div class="post-area">
        <div class="card">
            <img class="card-img-top" src="../assets/images/shoe.png" alt="Card image cap">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Online Store</h5>
              <p class="card-text mb-auto">Some quick make up the bulk of the card's content.</p>
              <a href="#" class="mt-2">More Details</a>
            </div>
        </div>
    </div>

    <div class="post-area">
        <div class="card">
            <img class="card-img-top" src="../assets/images/membership.png" alt="Card image cap">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Membership-site</h5>
              <p class="card-text mb-auto">Some quick make up the bulk of the card's content.</p>
              <a href="#" class="mt-2">More Details</a>
            </div>
        </div>
    </div>

    <div class="post-area">
        <div class="card">
            <img class="card-img-top" src="../assets/images/e-co.png" alt="Card image cap">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Home Appliances</h5>
              <p class="card-text mb-auto">Some quick make up the bulk of the card's content.</p>
              <a href="#" class="mt-2">More Details</a>
            </div>
        </div>
    </div>

</div>

<div class="follow">
    <h6>Follow</h6>
    <div class="fti d-flex">
      <div class="img " >
          <img  src="../assets/images/Facebook.svg">
      </div>
      <div class="img "> 
          <img src="../assets/images/Instagram.svg">
      </div>
      <div class="img">
          <img  src="../assets/images/Twitter.svg">
      </div>
    </div>
</div>


