<div class="container mt-5">
    <h2>Contact Us</h2>
</div>

<div class="container mt-5">

    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="name">
               <label for="">Your Name</label>
               <input type="text" placeholder="Enter your name" onfocus="this.placeholder = ''"
               onblur="this.placeholder = 'enter your name'">
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="email">
               <label for="">Email</label>
               <input type="email" placeholder="Enter your email address" onfocus="this.placeholder = ''"
               onblur="this.placeholder = 'Enter your email address'">
            </div>
        </div>
    </div>


    
    <div class="mt-5">
        <div class="text">
            <label for="">Message</label>
            <!-- <input type="text-area" name="" id=""  placeholder="your message here..."  onfocus="this.placeholder = ''"
            onblur="this.placeholder = 'your message here...'"> -->

            <textarea rows="2" name="comment" form="usrform" placeholder="your message here..."  onfocus="this.placeholder = ''"
            onblur="this.placeholder = 'Your message here...'"></textarea>

        </div>
    </div>

    <div class="button">
        <button class="btn">
            submit <span> <i class="fa fa-arrow-right"></i></span>
        </button>
    </div>

    <div class="contact">
        <p>For any questions contact my number : <span style="color: red;">9550902631</span></p>
        <p>Email : <span style="color: red;">manchethirumalesh@gmail.com</span></p>
    </div>


</div>


