<div class="container mt-5">
    <h2>Contact Us</h2>
</div>

<div class="container mt-5">

    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="name">
               <label for="">Your Name</label>
               <input type="text" placeholder="Enter your name" onfocus="this.placeholder = ''"
               onblur="this.placeholder = 'enter your text'">
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="email">
               <label for="">Email</label>
               <input type="email" placeholder="Enter your email address" onfocus="this.placeholder = ''"
               onblur="this.placeholder = 'Enter your email address'">
            </div>
        </div>
    </div>


    
    <div class="mt-5">
        <div class="text">
            <label for="">Message</label>
            <!-- <input type="text-area" name="" id=""  placeholder="your message here..."  onfocus="this.placeholder = ''"
            onblur="this.placeholder = 'your message here...'"> -->

            <textarea rows="2" name="comment" form="usrform" placeholder="your message here..."  onfocus="this.placeholder = ''"
            onblur="this.placeholder = 'your message here...'"></textarea>

        </div>
    </div>

</div>

